<main class="container">
  <%= link_to sanitize("&larr; Back to bills"), bills_path %>

  <div class="header">
    <h1>Edit bill</h1>
  </div>

  <%= render "form", bill: @bill %>

  <h2>Approve bill</h2>
  
  <%= form_tag approve_bills_path(@bill), method: 'post' do %>
    <%= hidden_field_tag :id, @bill.id -%>
    <%= submit_tag 'Approve' -%>
  <% end -%>
</main>
